
<ion-view view-title= "Sondaggio">
  <ion-content>
    <form>

        <ion-item ng-repeat='data in arrayJsonDomandeRisposte'>
              <h2>{{data.domanda}}</h2>
              <ion-item ng-repeat='risposta in data.risposte'>
                    <span>{{risposta}}</span>
              </ion-item>


            <!---
            <h2>{{domanda}}</h2>
            <ion-label class="check" ng-repeat="risposta in risposteRiepilogo">
                <ion-item>{{risposta}}</ion-item>
            </ion-label>
            --->
        </ion-item>
    </form>
  </ion-content>
</ion-view>
