
<ion-view view-title= "Sondaggio">
  <ion-nav-buttons side="left">
      <button class="button button-icon" ng-click="backToRiepilogo()">Back</button>
  </ion-nav-buttons>
  <ion-content>
    <form>
      <ion-item ng-repeat="x in arrayDomandeAperteRoot track by $index">
          <ion-label>
              <div>
              <h2>{{x.domanda}}</h2>
              <span>{{x.risposte}}</span>
            </div>
          </ion-label>
      </ion-item>
        <ion-item ng-repeat='data in arrayJsonDomandeRisposte'>
              <h2>{{data.domanda}}</h2>
              <ion-item ng-repeat='risposta in data.risposte track by $index'>
                    <span>{{risposta}}</span>
              </ion-item>
        </ion-item>
        
     <!--   <ion-item ng-repeat='data in arrayJsonRadio'>
              <h2>{{data.domanda}}</h2>
              <ion-item ng-repeat='risposta in data.risposte track by $index'>
                    <span>{{risposta}}</span>
              </ion-item>
        </ion-item> -->

    </form>
  </ion-content>
</ion-view>
