h2, ion-label, .item {
	white-space: normal !important;
}

a {
	padding: 16px !important;
}
h2:first-letter {
	text-transform: capitalize;
}

.risposta {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.reset {
	border: 0px;
	margin: 0px;
}

.pad {
	padding-left: 20px;
}

.box {
	word-wrap: break-word;
	border-color: #009966 !important;
}

.check{
	border-left: 0px !important;
	border-right: 0px !important;
}
.bottone, .popup-buttons .button-positive{
	background-color: #009966 !important;
}

/*
.checkbox-royal input:before,
.checkbox-royal .checkbox-icon::before {
	border-color:  #009966 !important;
	background:  #009966 !important;
}

*/
.divBottone {
	padding: 16px;
}

.carta {
	text-align: center;
	margin: 0px;
}

.titoloCarta {
    font-size: 1.5em;
    width: 100%;
    /*font-weight: bold;
    color: #fff; */
}
.titoloCarta:first-letter {
    text-transform: capitalize;
}

.logo {
	padding-top: 20px;
	padding-left: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.confermapwd {
	padding-left: 40px !important;
}
